[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = ">=2.0"
django-blastplus = ">=2"
"psycopg2-binary" = "*"
biopython = "*"
requests = "*"
python-memcached = "*"
nose = "*"
django-nose = "*"
model-mommy = "*"
coverage = "*"
uwsgi = "*"


[dev-packages]



[requires]

python_version = "3.6"
