[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = ">=2.0"
"psycopg2-binary" = "*"
biopython = "*"
redis = "*"
django-redis-cache = "*"
coverage = "*"
model-mommy = "*"
requests = "*"
python-memcached = "*"


[dev-packages]

nose = "*"
django-nose = "*"


[requires]

python_version = "3.6"
