[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==2.1.2"
django-blastplus = "==2.0.3"
"psycopg2-binary" = "*"
biopython = "*"
requests = "==2.20.0"
python-memcached = "*"
nose = "*"
django-nose = "*"
model-mommy = "*"
coverage = "*"
uwsgi = "*"
django-uwsgi = "*"


[dev-packages]



[requires]

python_version = "3.6"
