{% extends "__base.html" %}

{% block title %} NewtBase - 404 {% endblock %}

{% block content %}

<div class="well nbsite_boxstyle">

    <h3>404 page not found</h3>


    <h3>Contact</h3>

    <p>
        Our group is based at the Institute of Environmental Sciences, Jagiellonian University in Kraków, Poland. </p>

    <p><a href="http://www.molecol.eko.uj.edu.pl/en_GB/zespol/pracownicy/wieslaw-babik">Wiesław Babik</a> <a
            href="mailto:wieslaw.babik@uj.edu.pl">@</a></p>

    <p><a href="https://github.com/michal-stuglik/">Michał Stuglik</a> <a
            href="mailto:michal.stuglik@sruc.ac.uk">@</a></p>
</div>

{% endblock %}
