{% extends "__base.html" %}

{% block title %} NewtBase - about {% endblock %}

{% block content %}

<div class="well nbsite_boxstyle">

    <h3>About</h3>


    <p> This development of this resource was funded by the Polish National Science Centre grants:</p>

    <div>

        <p><strong>N N303 817140 <i>Divergence population genetics of the Carpathian and smooth newts</i></strong></p>

        <p><strong>2012/04/A/NZ8/00662 <i>Pervasive adaptive introgression of genes evolving under balancing
            selection?</i></strong></p>
    </div>


    <p>
        We are interested in understanding genomic patterns and consequences of natural hybridization and the role of
        gene flow
        in the process of speciation. More information about us <a href="http://www.molecol.eko.uj.edu.pl/en_GB/">
        here</a>


    </p>

    <h3>Contact</h3>

    <p>

        Our group is based at the Institute of Environmental Sciences, Jagiellonian University in Kraków, Poland. </p>

    <p><a href="http://www.molecol.eko.uj.edu.pl/en_GB/zespol/pracownicy/wieslaw-babik">Wiesław Babik</a> <a
            href="mailto:wieslaw.babik@uj.edu.pl">@</a></p>

    <p><a href="http://www.molecol.eko.uj.edu.pl/en_GB/zespol/pracownicy/michal-stuglik">Michał Stuglik</a> <a
            href="mailto:michal.stuglik@uj.edu.pl">@</a></p>
</div>

{% endblock %}
