{% extends "__base.html" %}

{% block title %} NewtBase - download {% endblock %}

{% block content %}

<div class="row" >
	<div class="col-lg-4 col-sm-6 nbsite_sourcebox_outpadds">
		<div class="nbsite_boxstyle nbsite_sourcebox">
			<h3>Transcriptome based gene models</h3>
			<p> <i>Lissotriton vulgaris/Lissotriton montandoni</i> </p>
			<p>
				<a class="btn btn-lg btn-primary" href="../download/tgm" role="button"> Download &raquo;</a>
			</p>
		</div>
	</div>

    	<div class="col-lg-4 col-sm-6 nbsite_sourcebox_outpadds">
		<div class="nbsite_boxstyle nbsite_sourcebox">
			<h3> Transcriptome based gene models </h3>
			<p> <i>Lissotriton helveticus</i> </p>
			<p>
				<a class="btn btn-lg btn-primary" href="../download/L_helveticus_tgm" role="button">Download &raquo;</a>
			</p>
		</div>
	</div>

	<!--<div class="col-lg-3 col-sm-12 nbsite_sourcebox_outpadds">-->
		<!--<div class="nbsite_boxstyle nbsite_sourcebox">-->
			<!--<h3> mips </h3>-->
			<!--<p>mips are ...</p>-->
			<!--<p>-->
				<!--<a class="btn btn-lg btn-primary" href="../download/mips" role="button">Download &raquo;</a>-->
			<!--</p>-->
		<!--</div>-->
	<!--</div>-->

	<div class="col-lg-4 col-sm-6 nbsite_sourcebox_outpadds">
		<div class="nbsite_boxstyle nbsite_sourcebox">
			<h3> Immune genes </h3>
			<p>This file contains full or partial protein-coding sequences (ORFs only) of 775 newt genes identified as putative orthologs of genes involved in immune response in human, Xenopus, chicken and anolis lizard.</p>
			<p>
				<a class="btn btn-lg btn-primary" href="../download/immune_genes" role="button">Download &raquo;</a>
			</p>
		</div>
	</div>

	<!--<div class="col-lg-3 col-sm-6 nbsite_sourcebox_outpadds">-->
		<!--<div class="nbsite_boxstyle nbsite_sourcebox">-->
			<!--<h3> mtDNA </h3>-->
			<!--<p>mtDNA is ...</p>-->
			<!--<p>-->
				<!--<a class="btn btn-lg btn-primary" href="../download/mtdna" role="button">Download &raquo;</a>-->
			<!--</p>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div class="col-lg-3 col-sm-6 nbsite_sourcebox_outpadds">-->
		<!--<div class="nbsite_boxstyle nbsite_sourcebox">-->
			<!--<h3> ORFs </h3>-->
			<!--<p>Open reading frames ...</p>-->
			<!--<p>-->
				<!--<a class="btn btn-lg btn-primary" href="../download/orfs" role="button">Download &raquo;</a>-->
			<!--</p>-->
		<!--</div>-->
	<!--</div>-->

</div>
{% endblock %}
