{% extends "__base.html" %}
{% load static %}

{% block title %} NewtBase - publications {% endblock %}

{% block content %}
    <div class="well nbsite_boxstyle">
        <h3>Publications</h3>

        <p>
            Fijarczyk A., Dudek K., Babik W. Selective landscapes in newt immune genes inferred from patterns of nucleotide
            variation. 2016. Genome Biol Evol. doi: 10.1093/gbe/evw236 <a href="{% static 'pdf/Fijarczyk_et_al_2016.pdf' %}">[...]</a>
        </p>

        <p>
            Stuglik MT, Babik W. 2016. Genomic heterogeneity of historical gene flow between two species of newts inferred
            from transcriptome data. Ecology and Evolution, 6(13): 4513–4525. doi: 10.1002/ece3.2152 <a href="{% static 'pdf/Stuglik_and_Babik_2016.pdf' %}">[...]</a>
        </p>

        <p>
            Zieliński, P., Nadachowska-Brzyska, K., Dudek, K. and Babik, W. 2016. Divergence history of the Carpathian
            and smooth newts modelled in space and time. Mol Ecol, 25: 3912–3928. doi:10.1111/mec.13724 <a
                href="{% static 'pdf/Zielinski_et_al_2016.pdf' %}">[...]</a>
        </p>

        <p>
            Babik W., Dudek K., Fijarczyk A., Pabijan M., Stuglik M., Szkotak R., Zieliński P. 2015. Constraint and
            Adaptation in newt Toll-Like Receptor Genes. Genome Biology and Evolution, 7:81–95. <a
                href="{% static 'pdf/Babik_et_al_2015.pdf' %}">[...]</a>
        </p>

        <p>
            Pabijan M., Zieliński P., Dudek K., Chloupek M., Sotiropoulos K., Liana M., Babik W. 2015. The dissection of a
            Pleistocene refugium: phylogeography of the smooth newt, <i>Lissotriton vulgaris</i>, in the Balkans. Journal of
            Biogeography, 42: 671-683. <a href="{% static 'pdf/Pabijan_et_al_2015.pdf' %}">[...]</a>
        </p>

        <p>
            Zieliński P., Dudek K., Stuglik M.T., Liana M., Babik W. 2014.Single nucleotide polymorphisms reveal genetic
            structuring of the Carpathian newt and provide evidence of interspecific gene flow in the nuclear genome. PLoS
            One, 9: art. no. e97431. <a href="{% static 'pdf/Zielinski_et_al_2014a.pdf' %}">[...]</a>
        </p>

        <p>
            Zieliński P., Stuglik M.T., Dudek K., Konczal M., Babik W. 2014. Development, validation and high-throughput
            analysis of sequence markers in nonmodel species. Molecular Ecology Resources, 14: 352-360. <a
                href="{% static 'pdf/Zielinski_et_al_2014.pdf' %}">[...]</a>
        </p>

        <p>
            Zieliński P., Nadachowska‐Brzyska K., Wielstra B., Szkotak R., Covaciu‐Marcov SD., Cogălniceanu D., Babik W.
            2013. No evidence for nuclear introgression despite complete mtDNA replacement in the Carpathian newt
            (<i>Lissotriton montandoni</i>). Molecular Ecology, 22: 1884–1903. <a
                href="{% static 'pdf/Zielinski_et_al_2013.pdf' %}">[...]</a>
        </p>

        <p>
            Nadachowska-Brzyska K., Zieliński P., Radwan J., Babik W. 2012. Interspecific hybridization increases MHC class
            II diversity in two sister species of newts. Molecular Ecology, 21, 887–906. <a
                href="{% static 'pdf/Nadachowska_et_al_2012.pdf' %}">[...]</a>
        </p>

        <p>
            Nadachowska K., Babik W. 2009. Divergence in the face of gene flow: the case of two newts (<i>Amphibia:
            Salamandridae</i>).. Molecular Biology and Evolution, 26: 829-841.<a
                href="{% static 'pdf/Nadachowska_Babik_2009.pdf' %}">[...]</a>
        </p>

        <p>
            Babik W., Branicki W., Crnobrnja-Isailović J., Cogălniceanu D. , Sas I., Olgun K., Poyarkov N.A., García-París M
            , Arntzen J.W. 2005. Phylogeography of two European newt species – discordance between mtDNA and morphology.
            Molecular Ecology, 14: 2475–2491. <a href="{% static 'pdf/Babik et al 2005.pdf' %}">[...]</a>
        </p>

        <p>
            Babik W., Rafiński J. 2004. Relationship between morphometric and genetic variation in pure and hybrid
            populations of the smooth and Montandon’s newt (<i>Triturus vulgaris</i> and <i>T. montandoni</i>). Journal of
            Zoology
            (London), 262: 135–143. <a href="{% static 'pdf/Babik Rafinski 2004.pdf' %}">[...]</a>
        </p>

        <p>
            Babik W., Szymura J.M., Rafiński J. 2003. Nuclear markers, mitochondrial DNA and male secondary sexual traits
            variation in a newt hybrid zone (<i>Triturus vulgaris x T. montandoni</i>). Molecular Ecology, 12: 1913–1930. <a
                href="{% static 'pdf/Babik Szymura Rafinski 2003.pdf' %}">[...]</a>
        </p>


    </div>
{% endblock %}
