
	<!-- 	<div class="container"> -->
	<!-- 		<div class="starter-template"> -->
	<!-- 			<h1>Bootstrap starter template</h1> -->
	<!-- 			<p class="lead"> -->
	<!-- 				Use this document as a way to quickly start any new project.<br> -->
	<!-- 				All you get is this text and a mostly barebones HTML document. -->
	<!-- 			</p> -->
	<!-- 		</div> -->
	<!-- 	</div> -->

	<!-- /.container -->
	
	

	<img src="{% static 'icon.png' %}" alt="My image" />
	
	
<!-- 	<html>
<head>
<title>TGM blast search</title>
</head>
<body>

	<h2>TGM blast search</h2>

	{% if form.errors %}
		<p style="color: red;">Please correct the error {{ form.errors|pluralize }} below.</p>
	{% endif %}

	<form action="" method="post">
		{% csrf_token %}
		<table>{{ form.as_table }}
		</table>
		<input type="submit" value="Search">
	</form>
</body>
</html>


		<select id='evalue'>
		  <option value="1">1</option>
		  <option value="0.1">0.1</option>
		  <option value="0.01">1e-2</option>
		  <option selected="selected" value="0.001">1e-3</option>
		  <option value="0.0001">1e-4</option>
		  <option value="0.00001">1e-5</option>
		  <option value="0.000001">1e-6</option>
		  <option value="0.0000001">1e-7</option>
		  <option value="0.00000001">1e-8</option>
		 </select> 
		 
	 -->